<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/info_livro.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxanium" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script src="https:/kit.fontawesome.com/a81368914c.js"></script>
    <title>Lampião</title>
</head>

<body>

    <header class="book-header">
        <div class="logo">
            <a href="http://localhost:3000/timeline">
                <img src="/img/LogoBranca.svg" alt="logo" class="logo-branca"></a>
            <a href="http://localhost:3000/timeline">
                <img src="/img/logoPreta.png" alt="logo" class="logo-preta"></a>
        </div>
        <div class="icons">
            <div class="icons-img">
                <!-- <img src="/img/search.svg" alt="search" class="search-icon"> -->
                <a href="http://localhost:3000/user/perfil">
                    <img src="/img/profile.svg" alt="profile" class="profile-icon"></a>
            </div>
        </div>
    </header>

    <main class="main-book">
        <div class="container">

            <section class="left-side">

                <div class="book-title">
                    <!-- TÍTULO DO LIVRO -->
                    <h3>
                        <%= showBookInfo.name %>
                    </h3>
                    <!-- NOME DO AUTOR -->
                    <div class="book-writer-status">
                        <h5>
                            <%= showBookInfo.writer %>
                        </h5>
                    </div>
                </div>
                <div class="book-view">
                    <div class="book-cape">
                        <!-- CAPA DO LIVRO -->
                        <img src="<%= showBookInfo.img %> " alt="capa-do-livro" class="img-principal">
                    </div>
                    <div class="div-book">
                        <!-- <div class="div-curtir"> -->
                            <div class="curtir">
                                <% if (searchNotebook) { %> 
                                <form action="<%=`/notebooks/${searchNotebook.book_id}?_method=PUT`%>" method="POST" id="form-curtir">
                                    <!-- <input type="button" value="1"> -->
                                    <% if (searchNotebook.favorite == 0) {%> 
                                    <button class="btn-curtir" type="submit" name="favorite" value="1"><i class="far fa-heart"></i></button>
                                    <% } else { %> 
                                    <button class="btn-curtir" type="submit" name="favorite" value="0"><i class="fas fa-heart" style="color: red;"></i></button>
                                    <% } %> 
                                </form>
                                <% } %> 
                            </div>
                        <!-- </div> -->
                        <div class="div-rating-stars">
                            <div class="stars">
                                <!-- <img src="/img/Star1.svg" alt="estrela">
                                <img src="/img/Star1.svg" alt="estrela">
                                <img src="/img/Star1.svg" alt="estrela">
                                <img src="/img/Star1.svg" alt="estrela">
                                <img src="/img/Star1.svg" alt="estrela"> -->
                                <p class="media">MÉDIA <br>
                                    GERAL</p>
                                <p class="media-valor"><%=meanGrade%></p> 
                            </div>
                            <div class="rating">
                                <% if(bookCount < 1){ %>
                                    <p>Sem avaliações</p>
                                    <% }else if(bookCount==1){ %>
                                        <p>Baseado em 1 avaliação</p>
                                        <% }else{ %>
                                            <p>
                                                Baseado em <%=bookCount%> avaliações
                                            </p>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="div-nota">
                        <div class="nota">
                            <p>Sua avaliação:</p>
                            <% if (searchNotebook && searchNotebook.status == 'Lido') { %> 
                            <form action="<%=`/notebooks/${searchNotebook.book_id}?_method=PUT`%>" method="POST" id="form-nota">
                                <!-- <input type="button" value="1"> -->
                                <% if (!searchNotebook.grade) {%> 
                                    <button class="btn-nota" type="submit" name="grade" value="1"><i class="far fa-star"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="2"><i class="far fa-star"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="3"><i class="far fa-star"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="4"><i class="far fa-star"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="5"><i class="far fa-star"></i></button>
                                <% } else if (searchNotebook.grade == 1){ %> 
                                    <button class="btn-nota" type="submit" name="grade" value="1"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="2"><i class="far fa-star"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="3"><i class="far fa-star"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="4"><i class="far fa-star"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="5"><i class="far fa-star"></i></button>
                                <% } else if (searchNotebook.grade == 2){ %> 
                                    <button class="btn-nota" type="submit" name="grade" value="1"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="2"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="3"><i class="far fa-star"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="4"><i class="far fa-star"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="5"><i class="far fa-star"></i></button>
                                <% } else if (searchNotebook.grade == 3){ %> 
                                    <button class="btn-nota" type="submit" name="grade" value="1"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="2"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="3"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="4"><i class="far fa-star"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="5"><i class="far fa-star"></i></button>
                                <% } else if (searchNotebook.grade == 4){ %> 
                                    <button class="btn-nota" type="submit" name="grade" value="1"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="2"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="3"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="4"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="5"><i class="far fa-star"></i></button>
                                <% } else { %> 
                                    <button class="btn-nota" type="submit" name="grade" value="1"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="2"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="3"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="4"><i class="fas fa-star" style="color:gold;"></i></button>
                                    <button class="btn-nota" type="submit" name="grade" value="5"><i class="fas fa-star" style="color:gold;"></i></button>
                                <% } %> 
                            </form>
                            <% } else {%> 
                                <!-- <div class="btn-sem-nota"> -->
                                    <!-- <div class="div-btn-sem-nota"> -->
                                        <button class="btn-nota" type="submit" name="grade" value="1"><i class="far fa-star"></i></button>
                                        <button class="btn-nota" type="submit" name="grade" value="2"><i class="far fa-star"></i></button>
                                        <button class="btn-nota" type="submit" name="grade" value="3"><i class="far fa-star"></i></button>
                                        <button class="btn-nota" type="submit" name="grade" value="4"><i class="far fa-star"></i></button>
                                        <button class="btn-nota" type="submit" name="grade" value="5"><i class="far fa-star"></i></button>
                                    <!-- </div> -->
                                <!-- </div> -->
                                <% } %>     
                            </div>
                            <% if (searchNotebook && searchNotebook.status != "Lido") {%> 
                                <div class="leia-o-livro">
                                    <p>Mude o status do livro para "Lido" se quiser avaliá-lo.</p> 
                                </div>
                            <% } else if (!searchNotebook){%>
                                <div class="leia-o-livro">
                                    <p>Adicione e leia o livro para avaliá-lo.</p> 
                                 </div>    
                            <% } %> 
                    </div>
                </div>

                <div class="info-status">
                    <div class="div-info-status">
                        <h4>LERAM</h4>
                        <!-- <p>156</p> -->
                        <p>
                            <%= statusCountList[0] %>
                        </p>
                    </div>
                    <div class="div-info-status">
                        <h4>LENDO</h4>
                        <!-- <p>79</p> -->
                        <p>
                            <%= statusCountList[1] %>
                        </p>
                    </div>
                    <div class="div-info-status">
                        <h4>QUEREM LER</h4>
                        <!-- <p>31</p> -->
                        <p>
                            <%= statusCountList[2] %>
                        </p>
                    </div>
                    <div class="div-info-status">
                        <h4>FAVORITADO</h4>
                        <!-- <p>58</p> -->
                        <p>
                            <%= bookmark %>
                        </p>
                    </div>
                </div>
                <div class="book-info">
                    <div class="book-info-h">
                        <h4>Editora:</h4>
                        <h4>Gênero:</h4>
                        <h4>Nº Páginas:</h4>
                        <h4>Ano:</h4>
                    </div>
                    <div class="book-info-p">
                        <!-- INFORMAÇÕES DO LIVRO -->
                        <p>
                            <%= showBookInfo.publishing_company %>
                        </p>
                        <p>
                            <%= showBookInfo.genre %>
                        </p>
                        <p>
                            <%= showBookInfo.n_pages %>
                        </p>
                        <p>
                            <%= showBookInfo.year_publication %>
                        </p>
                    </div>
                </div>
            </section>

            <section class="right-side">

                <section class="synopsis">
                    <h2>Sinopse</h2>
                    <% if (showBookInfo.synopsis) {%>
                        <p>
                            <!-- SINOPSE -->
                            <%= showBookInfo.synopsis %>
                        </p>
                        <% } else {%>
                            <div class="add-sinopse">
                                <p>Este livro ainda não tem uma sinopse. <br>
                                    Que tal escrever uma??</p>
                                <button class="addSynopsis" id="add-synopsis">ESCREVER SINOPSE</button>
                            </div>
                            <% } %>
                </section>
                <section class="comments">
                    <div class="div-post">
                        <h2>Posts</h2>
                        <button type="button" class="addPOST" id="add-posts"><i class="far fa-plus-square fa-2x"
                                aria-hidden="true"></i></button>
                    </div>
                    <% if (postsByBook.length> 0) { %>
                        <article class="container-carousel">
                            <% for (postsCount of postsByBook) {%>
                                <div class="div-carousel">
                                    <div class="div-carousel-title">
                                        <!-- TÍTULO DO POST -->
                                        <h3>
                                            <%= postsCount.title %>
                                        </h3>
                                    </div>
                                    <div class="div-post">
                                        <div class="div-comments">
                                            <p class="comments-text">
                                                <!-- POSTAGEM -->
                                                <%= postsCount.text %>
                                            </p>
                                        </div>
                                        <!-- <button class="arrow">></button> -->
                                        <div class="comment-user">
                                            <div class="user-photo">
                                                <img src="<%= postsCount.user.img  %>" alt="foto-usuario">
                                            </div>
                                            <div class="user-comments-info">
                                                <!-- <p class="comments-user-name">Edson Oliveira</p> -->
                                                <p class="comments-user-name">
                                                    <%= postsCount.user.name %>
                                                </p>
                                                <div class="stars-mini">
                                                    <img src="/img/Star 2.png" alt="star2">
                                                    <img src="/img/Star 2.png" alt="star2">
                                                    <img src="/img/Star 2.png" alt="star2">
                                                    <img src="/img/Star 2.png" alt="star2">
                                                    <img src="/img/Star 2.png" alt="star2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </article>
                        <% } else { %>
                            <article class="container-carousel">
                                <div class="div-carousel">
                                    <div class="div-post">
                                        <p class="div-comments">
                                            Esse livro ainda não possui postagens. <br>
                                            Seja o primeiro!!
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <% } %>

                </section>

                <div class="add-book">
                    <button class="adicionar-livro" id="btnOpen">ADICIONAR LIVRO</button>
                    <img src="/img/cacto1 1.png" alt="cacto">
                </div>
            </section>
        </div>
    </main>
    <div class="modal">
        <div class="modal-add-notebook">
            <div class="modal-logo">
                <img src="/img/lampiaozinho.png" alt="lamp">
                <button class="close-book" onclick="btnClose()">X</button>
            </div>
            <div class="modal-header">
                <h1>Adicione a sua estante</h1>
            </div>
            <div class="modal-body">
                
                <form action="/notebooks" method="POST" id="form-add-to-notebook">
                    <div class="status">
                        <label for="status">Defina um status:</label>
                        <select name="status" id="status">
                            <option value="Lido">Lido</option>
                            <option value="Lendo">Lendo</option>
                            <option value="Quero ler">Quero ler</option>
                        </select>
                    </div>
                    <div class="nota">
                        <label for="grade">Dê sua nota:</label>
                        <select name="grade" id="grade">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="favorito">
                        <label for="favorite">Adicione aos seus favoritos:</label>
                        <input type="checkbox" id="favorite" name="favorite" value="1">
                    </div>
                <button class="btn-adicionar" type="submit">Adicionar</button>
                <!-- esse botão deve ter a rota de cadastrar notebook -->
                </form>
            </div>
        </div>
    </div>

    <div class="modal-synopsis">
        <div class="modal-add-synopsis">
            <img src="/img/lampiaozinho.png" alt="lamp">
            <div class="modal-header">
                <h1>Adicione uma sinopse:</h1>
                <button class="close" onclick="btnCloseSyn()">X</button>
            </div>
            <div class="modal-body">
                <div class="synopsis-title">
                    <p>Sinopse</p>

                    <form action="<%=`/books/${showBookInfo.id}?_method=PUT`%>" method="POST" id="form-add-synopsis">
                        <textarea name="synopsis" id="input_sysnopsis" cols="30" rows="10"></textarea>

                        <button class="btn-add-synopsis" type="submit">Adicionar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-post">
        <div class="modal-add-posts">
            <img src="/img/lampiaozinho.png" alt="lamp">
            <div class="modal-header">
                <h1>Adicione um post</h1>
                <button class="close" onclick="btnClosePost()">X</button>
            </div>
            <div class="modal-body">
                <div class="posts-title">
                    <p>Post:</p>

                    <form action="/posts" method="POST" id="form-add-posts">
                        <input type="text" name="title" id="input-title" placeholder="Título do post:">
                        <textarea name="text" id="input_posts" cols="30" rows="10"></textarea>

                        <button class="btn-add-posts" type="submit">Adicionar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"> </script>
    <script type="text/javascript" src="/js/books.js"></script>
    <script type="text/javascript" src="/js/modalPost.js"></script>
    <script type="text/javascript" src="/js/addBook.js"></script>

</body>

</html>