<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/info_livro.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oxanium" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Lampião</title>
</head>
<body> 

    <header class="book-header">
        <div class="logo">
            <img src="/img/LogoBranca.svg" alt="logo" class="logo-branca">
            <img src="/img/logoPreta.png" alt="logo" class="logo-preta">
        </div>
        <div class="icons">
            <div class="icons-img">
                <img src="/img/search.svg" alt="search" class="search-icon">
                <img src="/img/home.svg" alt="home" class="home-icon">
                <img src="/img/profile.svg" alt="profile" class="profile-icon">
            </div>
        </div>
    </header>

    <main class="main-book">
        <div class="container">
             
            <section class="left-side">
                <div class="book-title">
                    <!-- TÍTULO DO LIVRO -->
                    <h3><%= showBookInfo.name %></h3>
                    <!-- NOME DO AUTOR -->
                    <h5><%= showBookInfo.writer %> </h5>
                </div>
                <div class="book-view">
                    <div class="book-cape">
                        <!-- <div class="img-principal" title="capa-do-livro" style="background-image: url('/img/image16.png')"> -->
                        <!-- <img src= < alt="capa-do-livro" class="img-principal">     -->
                        <!-- CAPA DO LIVRO -->
                        <div class="img-principal" style="background-image: url('<%= showBookInfo.img %>');"></div>
                    </div>
                    <div class="stars">
                        <img src="/img/Star1.svg" alt="estrela">
                        <img src="/img/Star1.svg" alt="estrela">
                        <img src="/img/Star1.svg" alt="estrela">
                        <img src="/img/Star1.svg" alt="estrela">
                        <img src="/img/Star1.svg" alt="estrela">
                    </div>
                    <div class="rating">
                        <p>400 avaliações</p>
                    </div>
                </div>

                <div class="info-status">
                    <div class="div-info-status">
                        <h4>LERAM</h4>
                        <p>156</p>
                    </div>
                    <div class="div-info-status">
                        <h4>LENDO</h4>
                        <p>79</p>
                    </div>
                    <div class="div-info-status">
                        <h4>QUEREM LER</h4>
                        <p>31</p>
                    </div>
                    <div class="div-info-status">
                        <h4>FAVORITADO</h4>
                        <p>58</p>
                    </div>
                </div>
                <div class="book-info">
                    <div class="book-info-h">
                        <h4>Editora:</h4>
                        <h4>Gênero:</h4>
                        <h4>Nº Páginas:</h4>
                        <h4>Ano:</h4>
                    </div>
                    <div class="book-info-p">
                        <!-- INFORMAÇÕES DO LIVRO -->
                        <p><%= showBookInfo.publishing_company %></p>
                        <p><%= showBookInfo.genre %></p>
                        <p><%= showBookInfo.n_pages %></p>
                        <p><%= showBookInfo.year_publication %></p>
                    </div>
                </div>
            </section>

            <section class="right-side">

                <section class="sinopsis">
                    <h2>Sinopse</h2>
                    <p>
                        <!-- SINOPSE -->
                        <%= showBookInfo.synopsis  %> 
                    </p>
                </section>

                <section class="comments">
                    <h2>Posts</h2>
                    
                    <article>
                        <!-- TÍTULO DO POST -->
                        <h3><%= postsByBook.title %></h3>
                        <p class="comments-text">
                            <!-- POSTAGEM -->
                            <%= postsByBook.text %>
                        </p>
                        <button class="arrow">></button>
                        <div class="comment-user">
                            <img src="/img/image 8.png" alt="foto-usuario" class="user-photo">
                            <div class="user-comments-info">
                                <p class="comments-user-name">Edson Oliveira</p>
                                <div>
                                    <img src="/img/Star 2.png" alt="star2">
                                    <img src="/img/Star 2.png" alt="star2">
                                    <img src="/img/Star 2.png" alt="star2">
                                    <img src="/img/Star 2.png" alt="star2">
                                    <img src="/img/Star 2.png" alt="star2">
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
                
                <div class="add-book">
                    <button>ADICIONAR LIVRO</button>
                    <img src="/img/cacto1 1.png" alt="cacto">
                </div>
            </section>
        </div>
    </main>

    <footer>

    </footer>
   
</body>
</html>