<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/info_livro.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxanium" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <title>Lampião</title>
</head>

<body>

    <header class="book-header">
        <div class="logo">
            <img src="/img/LogoBranca.svg" alt="logo" class="logo-branca">
            <img src="/img/logoPreta.png" alt="logo" class="logo-preta">
        </div>
        <div class="icons">
            <div class="icons-img">
                <img src="/img/search.svg" alt="search" class="search-icon">
                <img src="/img/home.svg" alt="home" class="home-icon">
                <img src="/img/profile.svg" alt="profile" class="profile-icon">
            </div>
        </div>
    </header>

    <main class="main-book">
        <div class="container">

            <section class="left-side">
                <div class="book-title">
                    <!-- TÍTULO DO LIVRO -->
                    <h3>
                        <%= showBookInfo.name %>
                    </h3>
                    <!-- NOME DO AUTOR -->
                    <h5>
                        <%= showBookInfo.writer %>
                    </h5>
                </div>
                <div class="book-view">
                    <div class="book-cape">
                        <!-- CAPA DO LIVRO -->
                        <img src="<%= showBookInfo.img %> " alt="capa-do-livro" class="img-principal">
                    </div>
                    <div class="stars">
                        <img src="/img/Star1.svg" alt="estrela">
                        <img src="/img/Star1.svg" alt="estrela">
                        <img src="/img/Star1.svg" alt="estrela">
                        <img src="/img/Star1.svg" alt="estrela">
                        <img src="/img/Star1.svg" alt="estrela">
                    </div>
                    <div class="rating">
                        <p>400 avaliações</p>
                    </div>
                </div>

                <div class="info-status">
                    <div class="div-info-status">
                        <h4>LERAM</h4>
                        <!-- <p>156</p> -->
                        <p>
                            <%= statusCountList[0] %>
                        </p>
                    </div>
                    <div class="div-info-status">
                        <h4>LENDO</h4>
                        <!-- <p>79</p> -->
                        <p>
                            <%= statusCountList[1] %>
                        </p>
                    </div>
                    <div class="div-info-status">
                        <h4>QUEREM LER</h4>
                        <!-- <p>31</p> -->
                        <p>
                            <%= statusCountList[2] %>
                        </p>
                    </div>
                    <div class="div-info-status">
                        <h4>FAVORITADO</h4>
                        <!-- <p>58</p> -->
                        <p>
                            <%= bookmark %>
                        </p>
                    </div>
                </div>
                <div class="book-info">
                    <div class="book-info-h">
                        <h4>Editora:</h4>
                        <h4>Gênero:</h4>
                        <h4>Nº Páginas:</h4>
                        <h4>Ano:</h4>
                    </div>
                    <div class="book-info-p">
                        <!-- INFORMAÇÕES DO LIVRO -->
                        <p>
                            <%= showBookInfo.publishing_company %>
                        </p>
                        <p>
                            <%= showBookInfo.genre %>
                        </p>
                        <p>
                            <%= showBookInfo.n_pages %>
                        </p>
                        <p>
                            <%= showBookInfo.year_publication %>
                        </p>
                    </div>
                </div>
            </section>

            <section class="right-side">

                <section class="synopsis">
                    <h2>Sinopse</h2>
                    <% if (showBookInfo.synopsis) {%>
                        <p>
                            <!-- SINOPSE -->
                            <%= showBookInfo.synopsis %>
                        </p>
                        <% } else {%>
                            <div class="add-sinopse">
                                <p>Este livro ainda não tem uma sinopse. <br>
                                    Que tal escrever uma??</p>
                                <button>Escrever sinopse</button>
                            </div>
                            <% } %>
                </section>

                <% if (postsByBook.length> 0) { %>
                    <section class="comments">
                        <h2>Posts</h2>
                        <article class="container-carousel">
                            <% for (postsCount of postsByBook) {%>
                                <div class="div-carousel">
                                    <div class="div-carousel-title">
                                        <!-- TÍTULO DO POST -->
                                        <h3>
                                            <%= postsCount.title %>
                                        </h3>
                                    </div>
                                    <div class="div-post">
                                        <div class="div-comments">
                                            <p class="comments-text">
                                                <!-- POSTAGEM -->
                                                <%= postsCount.text %>
                                            </p>
                                        </div>
                                        <!-- <button class="arrow">></button> -->
                                        <div class="comment-user">
                                            <div class="user-photo">
                                                <img src="<%= postsCount.user.img  %>" alt="foto-usuario">
                                            </div>
                                            <div class="user-comments-info">
                                                <!-- <p class="comments-user-name">Edson Oliveira</p> -->
                                                <p class="comments-user-name">
                                                    <%= postsCount.user.name %>
                                                </p>
                                                <div class="stars-mini">
                                                    <img src="/img/Star 2.png" alt="star2">
                                                    <img src="/img/Star 2.png" alt="star2">
                                                    <img src="/img/Star 2.png" alt="star2">
                                                    <img src="/img/Star 2.png" alt="star2">
                                                    <img src="/img/Star 2.png" alt="star2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </article>
                    </section>
                    <% } %>
                        <div class="add-book">
                            <button class="adicionar-livro" id="btnOpen">ADICIONAR LIVRO</button>
                            <img src="/img/cacto1 1.png" alt="cacto">
                        </div>
            </section>
        </div>
    </main>
    <div class="modal">
        <div class="modal-add-notebook">
            <div class="modal-header">
                <strong>Adicione a sua estante </strong>
                <button class="close" onclick="btnClose()">X</button>
            </div>
            <div class="modal-body">
                <div class="nota">
                    <p>Dê a sua nota:</p>
                    <form action="/notebook" method="POST">
                        <input type="radio" id="nota1" name="nota" value="1">
                        <label for="nota">1</label>
                        <input type="radio" id="nota2" name="nota" value="2">
                        <label for="nota">2</label>
                        <input type="radio" id="nota3" name="nota" value="3">
                        <label for="nota">3</label>
                        <input type="radio" id="nota4" name="nota" value="4">
                        <label for="nota">4</label>
                        <input type="radio" id="nota5" name="nota" value="5">
                        <label for="nota">5</label>
                </div>
                <div class="status">
                    <p>Defina um status:</p>
                    <input type="radio" id="lido" name="status" value="lido">
                    <label for="lido">Lido</label><br>
                    <input type="radio" id="lendo" name="status" value="lendo">
                    <label for="lendo">Lendo</label><br>
                    <input type="radio" id="quero-ler" name="status" value="quero-ler">
                    <label for="quero-ler">Quero ler</label>

                    <p>Adicione aos seus favoritos:</p>
                    <input type="checkbox" id="favorite" name="favorite">
                    <label for="favorite">Favoritos</label>

                </div>
                <button class="btn-adicionar" type="submit">Adicionar</button>
               <!-- esse botão deve ter a rota de cadastrar notebook -->
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"> </script>
    <script type="text/javascript" src="/js/books.js"></script>

</body>

</html>