<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/perfil.css"
    />
    <title>Lampião</title>
  </head>
  <body>
    <div class="container">
      <header>
        <img src="/img/LogoBranca.svg" alt="logo" class="logo-branca">
        <!-- <div class="toggle"></div>  CRIAR     -->
        <div class="icons">
          <div class="icons-img">
            <img
              src="/img/search.svg"
              alt="search"
              class="search-icon"
            />
            <img src="/img/home.svg" alt="home" class="home-icon" />
            <img
              src="/img/profile.svg"
              alt="profile"
              class="profile-icon"
            />
          </div>
        </div>
      </header>
      <video src="/video/Site lampião com template.mp4" muted loop autoplay></video>
      <section>
        <div class="perfil">
          <img src="/img/img-perfil.png" alt="imagem do perfil" class="img-perfil"/>
          <p id="name"><%= userFound.name %>  </p>
          <p id="nickname">@<%=userFound.nickname%></p>
        </div>
        
        <div class="status-lidos">
          <h2>Lidos</h2>
          <h2 id="quantity"><%= showUserInfo[0] %> </h2>
        </div>
        <div class="status-lendo">
          <h2>Lendo</h2>
          <h2 id="quantity"><%= showUserInfo[1] %></h2>
        </div>
        <div class="status-quero-ler">
          <h2>Quero ler</h2>
          <h2 id="quantity"><%= showUserInfo[2] %></h2>
        </div>
        <div class="status-favoritos">
          <h2>Favoritos</h2>
          <% if (!favoriteCount) {%> 
            <h2 id="quantity">0</h2>
            <% } else { %>   
            <h2 id="quantity"><%= favoriteCount %> </h2>
          <% } %> 
        </div>
        
        
      </section>
    </div>
    <main>
      <section class="paginometro">
        <img src="/img/menina-paginometro.png" alt="personagem do paginometro" />
            <div class="rectangle">
                <img src="/img/Rectangle-pag.png" alt="paginometro" >
                <h3 style="color:blueviolet"><%= sumPages %></h3> 
            </div>        
      </section>
      <section class="estante-container">
        <h1 id="title">Minha estante</h1>
        <div class="books-container">
            <h2>Todos</h2>
            <div id="books-carousel">
                <img src="/img/livro-01.png" alt="exemplo-01" />
                <img src="/img/livro-02.png" alt="exemplo-02" />
                <img src="/img/livro-03.png" alt="exemplo-03" />
                <img src="/img/livro-04.png" alt="exemplo-03" />
            </div>
        </div>        
        <h2>Lidos</h2>
        <h2>Lendo</h2>

      </section>
    </main>
  </body>
</html>
